name: ptr_pypi_upload

on:
  release:
    types: created

jobs:
  build:
    name: ptr PyPI Upload
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6

    - name: Set up Python 3
      uses: actions/setup-python@v6

    - name: Install latest pip, build, setuptools, twine + wheel
      run: |
        python -m pip install --upgrade pip build setuptools twine wheel

    - name: Build sdist & wheel
      run: |
        python -m build

    - name: Run a twine check
      run: |
        twine check --strict dist/*

    - name: Upload to PyPI via Twine
      env:
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload --verbose -u '__token__' dist/*
